/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
} */


.background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #080710;
}

form{
    height: 500px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #fe4141;
    letter-spacing: 0.5px;
    outline: none;
}
form h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
}
::placeholder{
    color: #888888;
}

.login-btn{
    margin-top: 50px;
    width: 100%;
    padding: 10px 50px;
    border: 2px solid #fe4141;
    background-color: transparent;
    font-weight: 600;
    color: #fe4141;
    cursor: pointer;
}

.login-btn:hover {
  background-color: #fe4141;
  color: black;
}

.signup {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
