
<div class="background">
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <h3>Login</h3>

    <label for="username">Email:</label>
    <input formControlName="email" type="text" placeholder="Email" id="username">

    <label for="password">Password:</label>
    <input formControlName="password" type="password" placeholder="Password" id="password">

    <button class="login-btn" [disabled]="loginForm.invalid">Log In</button>
    <div class="signup">
      <a routerLink="/signup" class="btn btn-link">Sign Up</a>
    </div>
  </form>
</div>

