  <h1>Top Filmes Mais Populares:</h1>

  <div class="box">
    <div *ngFor="let movie of topMovies">
      <div class="container">
        <div class="cellphone-container" >
            <div class="movie">
              <div class="menu"></div>
                <img class="movie-img" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="{{movie.title}}">
              <div class="details-content">
                <h4>{{ movie.title }}</h4>
                 <div class="more-details">
                  <div class="list">
                    <ul class="movie-gen">
                      <li>{{ movie.release_date }} |</li>
                      <li>Popularidade: {{ movie.popularity }}</li>
                    </ul>
                   </div>
                  <div class="like-btn"><button (click)="likeMovie(movie)">curtir</button></div>
                 </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-btn">
    <button routerLink="/top-rated" class="rated-btn">Ver Filmes Mais Curtidos</button>
  </div>
