<h1>Top Filmes:</h1>
  <div class="movies-list">
    <div *ngFor="let movie of topMovies" class="movie-card">
      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="{{movie.title}}" class="movie-poster">
      <div class="movie-details">
        <small>ID: {{ movie.id }}</small>
        <h3 class="movie-title">{{ movie.title }}</h3>
      </div>
      <div>
        <small>Popularidade: {{ movie.popularity }}</small>
      </div>
      <div>
        <button (click)="likeMovie(movie)">Like</button>
        <span>Likes: {{ movie.like }}</span>
      </div>
    </div>
  </div>


<!-- <h1>Top Filmes</h1>

<div class='card' >
    <div *ngFor="let movie of topMovies" class="card-content">
      <div class='card_left'>
        <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="{{movie.title}}">
      </div>
      <div class='card_right'>
        <h2>{{ movie.title }}</h2>
        <small>Lançamento: {{ movie.release_date }}</small>
        <small>Popularidade: {{ movie.popularity }}</small>
        <div class='card_right__details'>
          <div class='card_right__review'>
            <p>{{ movie.overview }}</p>
          </div>
        </div>
      </div>
    </div>
</div> -->
